<!-- footer section starts -->
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Portfolio do Edmir</h3>
            <p>Obrigado por visitar meu Portfolio, me siga nas minhas redes sociais. <br /> <br /> Por favor continue visitando a minha página, os meus futuros projectos serão listados aqui.
            </p>
        </div>

        <div class="box">
            <h3>Links Rápidos</h3>
            <a href="#home"><i class="fas fa-chevron-circle-right"></i> home</a>
            <a href="#about"><i class="fas fa-chevron-circle-right"></i> Sobre</a>
            <a href="#skills"><i class="fas fa-chevron-circle-right"></i> Abilidades</a>
            <a href="#education"><i class="fas fa-chevron-circle-right"></i> Educação</a>
            <a href="#experience"><i class="fas fa-chevron-circle-right"></i> Experiências</a>
        </div>

        <div class="box">
            <h3>Informações de contactos</h3>
            <p> <i class="fas fa-phone"></i>+2399869673</p>
            <p> <i class="fas fa-envelope"></i>edmirsantos28@gmail.com</p>
            <p> <i class="fas fa-map-marked-alt"></i>São tomé e principe, Madre-Deus</p>
            <div class="share">

                <a href="https://www.linkedin.com/in/edmir-santos-76319a171/" class="fab fa-linkedin" target="_blank"></a>
                <a href="https://github.com/anunay-anand" class="fab fa-github" target="_blank"></a>
                <a href="mailto:edmirsantos28@gmail" class="fas fa-envelope" target="_blank"></a>
                <a href="#" class="fab fa-twitter" target="_blank"></a>
                <a href="https://t.me/edmirsantos02" class="fab fa-telegram-plane" target="_blank"></a>
            </div>
        </div>
    </div>

    <h1 class="credit">Criado com amor  <i class="fa fa-heart pulse"></i> por <a
            href="https://www.linkedin.com/in/edmir-santos-76319a171/"> Edmir Santos</a></h1>

</section>

<!--Start of Tawk.to Script-->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/64ff3afb0f2b18434fd7e7d7/1ha2fsr58';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
<!--End of Tawk.to Script-->

<!-- footer section ends -->