<!-- Boilerplate for ejs mate -->
<%-layout('layouts/boilerplate')%>

<!-- experience section starts -->
<section class="experience" id="experience">

    <h2 class="heading"><i class="fas fa-briefcase"></i> Experiências</h2>
    <div class="quote">
        <span>cada experiência em sua vida está sendo orquestrada para lhe ensinar algo que você precisa saber para seguir em frente
            avançar.</span>
    </div>

    <div class="timeline">

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Introdução ao Python</h2>
                </div>
                <div class="desc">
                    <h3>Gustavo Guanabara | Curso em vídeo</h3>
                    <p>Novembro de 2017 - 2019 </p>
                </div>
            </div>
        </div>

        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Linguagem C do básico ao avançado</h2>
                </div>
                <div class="desc">
                    <h3>ALURA</h3>
                    <p> 2019 - 2021 </p>
                </div>
            </div>
        </div>

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Introdução ao Javascript</h2>
                </div>
                <div class="desc">
                    <h3>Professor künzel | Udemy</h3>
                    <p>Janeiro de 2022</p>
                </div>
            </div>
        </div>

        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Arduino do Basico ao avançado</h2>
                </div>
                <div class="desc">
                    <h3>Carla Vanessa Fernandes Azambuja</h3>
                    <p>Março de 2022</p>
                </div>
            </div>
        </div>

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Esp8266</h2>
                </div>
                <div class="desc">
                    <h3>Jader Bernardo| Udemy</h3>
                    <p>Abril 2022</p>
                </div>
            </div>
        </div>

        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Desenvolvimento Web completo</h2>
                </div>
                <div class="desc">
                    <h3>Jorge Sant Ana e Jamilton Damasceno| Udemy</h3>
                    <p>Maio 2022 - Janeiro 2023</p>
                </div>
            </div>
        </div>

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Fundamentos do Javascript Funcional</h2>
                </div>
                <div class="desc">
                    <h3>Leonardo Moura Leitão | Udemy</h3>
                    <p>Fevereiro 2023</p>
                </div>
            </div>
        </div>
        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>JavaScript e TypeScript do básico ao avançado</h2>
                </div>
                <div class="desc">
                    <h3>Javascript e TypeScript - front-end e back-end (Full Stack) - Node, Express, noSQL, React, hooks, Redux, Design Patterns</h3>
                    <p>Fevereiro 2023 - Até o momento</p>
                </div>
            </div>
        </div>
        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Javascript for Expert</h2>
                </div>
                <div class="desc">
                    <h3>Javascript e NodeJs para experts | Erickwendel</h3>
                    <p>Atualmente</p>
                </div>
            </div>
        </div>

        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Rocketseat</h2>
                </div>
                <div class="desc">
                    <h3>NodeJs + MongoDB + MySQLi + POstgres| Projetos</h3>
                    <p>Agosto 2023 - Atualmente</p>
                </div>
            </div>
        </div>

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Diploma em HTML5, CSS3 & JS</h2>
                </div>
                <div class="desc">
                    <h3>Alison Learning - Microsoft | Udemy</h3>
                    <p>Sembro de 2023</p>
                </div>
            </div>
        </div>

    </div>


    <div class="morebtn" data-aos="fade-in" data-aos-duration="1000">
        <a href="/" class="btn">
            <i class="fas fa-arrow-left"></i>
            <span>Back to Home</span>
        </a>
    </div>

    </div>
</section>

<!-- scroll top btn -->
<a href="#experience" class="fas fa-angle-up" id="scroll-top"></a>
<!-- scroll back to top -->